@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Teko";
}

body {
  background-color: rgb(34, 129, 253);
  background: linear-gradient(to right, rgb(23, 107, 233), rgb(228, 84, 241));
}

.calculator {
  background-color: #4d4e63;
  display: flex;
  flex-flow: column;
  margin: 128px auto;
  padding: 32px;
  max-width: 334px;
  max-height: 524px;
  height: 512px;
  border: 2px solid black;
  border-radius: 12px;
  font-weight: 700;
}

.display {
  border: 2px solid black;
  padding: 18px 24px;
  font-size: x-large;
  height: 20%;
  text-align: right;
  background-color: #d6e4e5;
  margin: 0 4px 24px;
}

.display div {
  height: 24px;
}

.input {
  height: 80%;
  display: flex;
  flex-direction: column;
  color: white;
}

.input > div {
  display: flex;
}

.input > div > div {
  padding: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: black 1px solid;
  margin: 2px;
  border-radius: 8px;
  cursor: pointer;
}

.number,
.decimal {
  background-color: #9796a1;
}

.number:hover,
.decimal:hover {
  background-color: #9796a18f;
}

.AC,
.backspace {
  background-color: #a9677b;
}

.AC:hover,
.backspace:hover {
  background-color: #a9677b96;
}

.input .operator,
.input .equals {
  background-color: black;
  color: white;
  border: white 1px solid;
}

.operator:hover,
.equals:hover {
  background-color: rgba(255, 255, 255, 0.575);
}

.row-5 .number {
  flex: 4;
}

.row-1 .AC {
  flex: 4;
}

.result,
.output {
  overflow: hidden;
}
