* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(34, 129, 253);
}

.calculator {
  background-color: #f1eba6;
  display: flex;
  flex-flow: column;
  margin: 128px auto;
  padding: 32px;
  max-width: 334px;
  max-height: 512px;
  height: 480px;
  border: 2px solid black;
}

.display {
  border: 2px solid black;
  padding: 12px;
  font-size: x-large;
  height: 20%;
  text-align: right;
}

.display div {
  height: 50%;
}

.input {
  height: 80%;
  display: flex;
  flex-direction: column;
}

.input > div {
  display: flex;
}

.input > div > div {
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
